* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather", serif;
  font-family: "Inter", sans-serif;
}

/* header related styles */

header {
  margin: 0 auto;
  width: 1320px;
  height: 600px;
  background-image: url("../images/banner.png");
}

.banner {
  margin-top: 50px;
  padding: 180px 282px;
  border-radius: 20px;
  background: linear-gradient(180deg, #070211 1%, rgba(7, 2, 17, 0) 100%);
}

.header-title {
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-weight: 400;
}

.header-description {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 59px;
  font-weight: 900;
}

/* discount section styles starts here */

.discount {
  margin: 0 auto;
  width: 1600px;
  height: 735px;
  text-align: center;
}

.discount-content {
  margin-top: 120px;
}

.offer {
  color: #f00;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 35px;
}

.offer-description {
  color: #f00;
  font-size: 22px;
  font-weight: 500;
}

.offer-category {
  color: #070211;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 35px;
}
.offer-img {
  width: 700px;
  height: 500px;
}

/* welcome styles starts here */

.welcome {
  margin: 0 auto;
  width: 1320px;
  height: 600px;
  background-image: url("../images/vectorr.png");
}

.welcome-content {
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
  padding: 76px 182px 67px 126px;
  border-radius: 20px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}

.welcome-title {
  color: #fff;
  font-family: Merriweather;
  width: 642px;
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 24px;
}

.welcome-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  width: 697px;
}

.welcome-button {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 10px 15px;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: pink;
  margin-top: 24px;
  border: none;
}

.welcome-img {
  display: flex;
  width: 319.83px;
  height: 464.662px;
  padding: 0.008px 0px 0px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
/* venue styles starts here */

.places {
  margin: 0 auto;
  width: 1320px;
  height: 482px;
  text-align: center;
}

.places-container {
  margin-top: 120px;
  padding: 100px 380px;
  border-radius: 20px;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}

.places-name {
  color: #070211;
  font-size: 25px;
  align-items: center;
  line-height: 56px;
  font-weight: 600;
  text-transform: capitalize;
}

.places-button {
  border-radius: 8px;
  border: none;
  margin-top: 60px;
  background: #f00;
  color: #fff;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.same-color {
  color: #f00;
}

/* best offer styles starts here */

.best-offer {
  margin: 0 auto;
  width: 1320px;
  height: 482px;
}

.best-offer-container {
  margin-top: 120px;
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
}

.best-offer-title {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.best-offer-heading {
  color: #070211;
  font-size: 48px;
  margin-bottom: 10px;
  font-weight: 900;
  text-transform: capitalize;
}

.best-offer-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 17px;
  font-weight: 400;
}

.together-img {
  width: 364.844px;
  height: 364.844px;
  border-radius: 364.844px;
  border: 10px solid #f00;
  padding: 20px;
}

.best-offer-year {
  color: #f00;
  font-size: 48px;
  font-weight: 700;
}

.best-offer-year-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
}

.new-year-img {
  width: 140px;
  height: 140px;
  margin-top: 40px;
}

/* Holiday section styles */

.holiday {
  margin: 0 auto;
  width: 1320px;
}
.holiday-container {
  margin-top: 120px;
}

.holiday-discount-offer {
  text-align: center;
}

.holiday-title {
  color: #070211;
  font-size: 20px;
  font-weight: 500;
}

.holiday-heading {
  color: #070211;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 28px;
}

.picnic {
  color: #f00;
}

.holiday-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
}

.img-container {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
}

.one-img {
  position: relative;
  bottom: -200px;
}

.two-img {
  position: relative;
  left: 150px;
}

.four-img {
  position: static;
  bottom: 0;
}

/* portfolio related styles */

.portfolio {
  margin: 0 auto;
  width: 1320px;
}

.portfolio-container {
  margin-top: 120px;
}

.portfolio-title {
  color: #f00;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

.portfolio-heading {
  color: #070211;
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.portfolio-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 18px;
  font-weight: 400;
}

.portfolio-image-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

/* news letter section styles */

.newsletter {
  margin: 0 auto;
  width: 1320px;
  height: 616px;
}

.newsletter-container {
  margin-top: 120px;
  border-radius: 16px;
  padding: 80px 210px;
  background: rgba(255, 0, 0, 0.05);
}

.subscribe {
  text-align: center;
}

.subscribe img {
  width: 150px;
  height: 150px;
  margin-bottom: 40px;
}

.subscribe h2 {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.subscribe p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.subscription-form {
  display: flex;
  margin: 20px auto;
}
.input-form {
  max-width: 600px;
  height: 70px;
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 0 0 0 25px ;
  border-radius: 40px 0px 0px 40px;
  background: #fff;
}

.button-form {
  width: 210px;
  height: 70px;
  border: none;
  outline: none;
  border-radius: 0px 40px 40px 0px;
  background: #f00;
}

/* footer section style */

footer {
  margin-top: 120px;
  background-color: #070211;
}

.main-footer{
    width: 100%;
    height: 500px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.footer-address {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin-top: 120px;
}

.contact-info {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin-top: 120px;
}

.contact-info p a{
    text-decoration: none;
}


.footer-img-container{
    text-align: center;
    margin-top: 70px;
    
}
.final-footer{
    color: #fff;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}



